.pStyle{
    text-align: justify;
    text-justify: ayto;
}

.cardStyle{
    transition: all 0.3s;
}

.cardStyle:hover{
    transform: scale(1.02);
}

.aboutbackground{
    background: url(../../../images/background/bg3.jpg) no-repeat center center fixed;
    background-size: cover;
}

.servicebackground{
    background: url(../../../images/background/bg4.jpg) no-repeat center center fixed;
    background-size: cover;
}